body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw
}

#gridcontainer{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    border: 1px dashed black;
}

.gridsq{
    background-color: azure;
    box-sizing: border-box;
    flex: 1 1 auto;
}

button {
    margin: 5px;
}